# Data Exploration of Amazon Stock

##### This notebook will explore the data downloaded from yahoo stocks  (https://finance.yahoo.com/quote/AMZN/history?p=AMZN) for use in the forecasting model

### Package Imports

In [14]:
import pandas as pd
import numpy as np
import os

### Load CSV file into DataFrame

In [18]:
project_path='C:/Users/wuder/Desktop/Stock-Market-Forecasting/'
data_path='data/AMZN.csv'

In [16]:
df=pd.read_csv(project_path+data_path)

In [17]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-20,2389.949951,2444.979980,2386.050049,2393.610107,2393.610107,5770700
1,2020-04-21,2416.610107,2428.310059,2279.659912,2328.120117,2328.120117,7476700
2,2020-04-22,2369.000000,2394.000000,2351.000000,2363.489990,2363.489990,4218300
3,2020-04-23,2399.979980,2424.219971,2382.080078,2399.449951,2399.449951,5066600
4,2020-04-24,2417.000000,2420.429932,2382.000000,2410.219971,2410.219971,3831800
...,...,...,...,...,...,...,...
246,2021-04-12,3355.209961,3395.040039,3351.149902,3379.389893,3379.389893,3281800
247,2021-04-13,3400.850098,3432.000000,3395.629883,3400.000000,3400.000000,3315800
248,2021-04-14,3404.040039,3404.129883,3326.000000,3333.000000,3333.000000,3145200
249,2021-04-15,3371.000000,3397.000000,3352.000000,3379.090088,3379.090088,3233600
250,2021-04-16,3380.000000,3406.800049,3355.590088,3399.439941,3399.439941,3183300